@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap");

@media screen and (min-width: 587px) {
	.main {
		display: none;
	}

	html,
	body {
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}

	/* navbar css starts here */
	.navbar {
		background-color: #0a68ff;
		width: 100%;
	}

	.logo {
		display: flex !important;
		width: 100%;
		display: table;
		padding: 1%;
		margin-bottom: 2%;
	}

	.logo-img {
		margin-right: 2rem;
		height: 50px;
		width: 50px;
	}

	.logo-img img {
		max-width: 100%;
		max-height: 100%;
	}

	#img-2 {
		padding-left: 0% !important;
	}

	/* navbar css ends here */

	.carousel-item {
		height: 562px;
		width: 100%;
	}

	.container {
		position: relative;
		padding: 0;
		margin-right: 0px;
		margin-left: 0px;
		width: 120%;
		height: 500px;
		background-color: #0a68ff;
	}

	/* Slideshow container */
	.slideshow-container {
		max-width: 100%;
		position: relative;
		margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
		width: 100%;
		display: none;
	}

	.banner-container {
		height: 462px;
		display: flex;
	}

	.banner-text {
		color: #ffff;
		margin: 10% 0% 10% 10%;
		width: 50%;
		font-family: Poppins;
		font-size: 25px;
		line-height: 60px;
		letter-spacing: 0em;
		text-align: center;
		white-space: nowrap;
		font-weight: 600;

	}

	.banner-img {
		margin: auto;
		width: 40%;
		top: 22.5%;
		position: relative;
		margin: 0%;
		right: 10%;
	}

	/* first slide ends here */

	/* Second slide starts here */
	.numbertext {
		display: flex;
		justify-content: space-around;
	}

	.square {
		background-color: white;
		width: 300px;
		height: 300px;
		text-align: center;
		border-radius: 48px;
		margin-top: 25%;
	}

	.circle {
		background-color: red;
		border-radius: 100%;
		height: 260px;
		width: 260px;
		margin: auto;
		display: inline-block;
		background-color: #6b53fd;
		text-align: center;
		margin: 5%;
	}

	p {
		padding-top: 40%;
		color: white;
		font-family: "Poppins", sans-serif;
		font-size: 30px;
	}

	.col-1 {
		width: 20%;
		color: white;
		font-family: "Poppins", sans-serif;
		font-size: 20px;
		font-weight: 200;
		padding-top: 4%;
		margin-left: 8%;
	}

	.col-2 {
		width: 20%;
		margin-top: 3.5%;
	}

	.col-3 {
		width: 30%;
		color: white;
		font-family: "Poppins", sans-serif;
		font-size: 20px;
		font-weight: 200;
		margin-right: 8%;
		padding-top: 4%;
	}

	.heading {
		font-size: 30px;
		font-weight: 600;
		padding: 0%;
	}


	/* Second slide ends here */

	/* Third slide */

	.slide-3 {
		text-align: center;
	}

	.image {
		height: 100px;
	}

	/* Third slide ends */

	/* 4th Slide Starts */

	.banner-text1 {
		color: #ffff;
		margin: 4% 1% 10% 7%;
		width: 50%;
		font-family: Poppins;
		font-size: 28px;
		line-height: 60px;
		letter-spacing: 0em;
		text-align: center;
		white-space: nowrap;
		font-weight: 500;
		margin-left: 11%;
		margin-top: 7%;
	}

	.banner-img-1 {
		position: relative;
		top: 17%;
		right: 4%;
	}

	/* 4th Slide Ends */

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Slides ends here */

	h2 {
		font-size: 40px;
		font-weight: 700;
	}

	.section-1 {
		font-family: Poppins;
		padding: 4% 5% 4% 5%;
	}

	.section-1-desc {
		font-weight: 600;
	}

	.btn-section1 {
		width: 191.59px;
		height: 54.34px;
		border-radius: 50px;
		color: white;
		background-color: orange;
		border: none;
	}

	.btn-section1:hover {
		cursor: pointer;
	}

	.vision {
		font-family: Poppins;
		padding: 4% 5% 7% 5%;
	}

	.vision-desc {
		font-weight: 600;
	}

	.objectives {
		font-family: Poppins;
		padding: 4% 5% 15% 5%;
	}

	.objective-desc {
		font-weight: 600;
	}

	/* footer css starts here */
	.footer {
		padding: 0%;
		bottom: 0;
		left: 0;
		display: grid;
		background-color: white;
		border: none;
	}

	.center-fit {
		max-width: 100%;
		max-height: 100vh;
		margin: auto;
	}

	.carousel-container {
		margin: auto;
		width: 100%;
		height: 540px;
		background-color: #0a68ff;
	}
}

@media screen and (max-width: 586px) {
	.about-us-desktop {
		display: none;
	}

	* {
		margin: 0 0;
		padding: 0 0;
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif;

	}

	.main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		/* overflow: hidden; */
	}

	.slide__container {
		width: 100vw;
		height: 28rem;
		background: #0A68FF;
	}

	.main>img {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	#images__slide {
		font-size: 0.8rem;
		font-weight: 500;
		color: white;
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.item__group {
		position: relative;
		height: 28rem;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0 2rem;
	}

	.item__group2 {
		padding-top: 2rem;
		height: 28rem;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 3rem;
	}

	.item__group2>.content>p {
		font-weight: lighter;
	}

	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 3.7rem;
		background: #FF9933;
	}

	#modi>p {
		margin-bottom: 0;
		text-align: start;
	}

	#woman {
		position: absolute;
		left: 0;
		bottom: 8rem;
	}

	.item__group>p {
		margin-bottom: 2rem;
	}
}